
body {
    background-color: #e1e2e1;
    margin: 0;
    top: 0;
}

.cabecalho{
    background-color: black;
    padding: 1px 1px;
    
    
}

.cabecalho .logo {
    display: inline-block;
}

nav {
    float:right ;
    display: none;
    flex-direction: column;
    
}

nav.active {
    display: flex;
    
}

nav li {
    list-style: none;
    padding: 5px;

}

main {
    background-color: white;
    padding: 30px;
    min-width: 320px; 
      max-width: 1024px;
    /* width: 900; */
    margin: 0 auto;

    /* margin: 0 auto; */
}

main .info {
    font-size: 18px;
}

main p {
    font-size: 16px;
}

.image img {
    width: 100%;
   
    
}

@media (max-width: 576px) {
    .cabecalho nav {
       float: none;
    }
}

.cabecalho nav li {
    display: block;

    
    
}

.info{
    color: black;
}

.Bruce {
    color: black;
}

.cor {
    color: black;
}

.cabecalho2{
    color: #e1e2e1;
    font-size: 15px;
    text-align: center;
    
}



.Comentários {
    padding: 40px;
    border-radius: 50px;
}


a {
    cursor: progress;
    padding: 3px;
    height: 1px;
}

a:visited {
    color: black;
}


a:active {
    color: white;
}

a:hover {
    background-color: grey;
    color: white;
    border-radius: 50px;

}



.info button {
    border-radius: 50px;
}

.comentario {
    border-radius: 50px;
}



